<!DOCTYPE html>
<html>
  <head>
    <title>My Web Page</title>
    <style>
      /* CSS styles go here */
    </style>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/meme-bot-templates.css"
    />
  </head>
  <body>
    <div>
      <header>
        <h1>Use a template code from the following list</h1>
      </header>

      <nav>
        <!-- Navigation menu goes here -->
      </nav>

      <div class="templates-list-container">
        <div class="templates-container">
            <img src = "https://i.imgflip.com/1p5q26.jpg">
            <h3>code: spongebob</h3>
            <h3>fields: 1</h3>
        </div>

        <div class="templates-container">
            <img src = "https://imgflip.com/s/meme/Bernie-I-Am-Once-Again-Asking-For-Your-Support.jpg">
            <h3>code: bernie</h3>
            <h3>fields: 1</h3>
        </div>
        
        <div class="templates-container">
            <img src = "https://imgflip.com/s/meme/Look-At-Me.jpg">
            <h3>code: lookAtMe</h3>
            <h3>fields: 1</h3>
        </div>

        <div class="templates-container">
            <img src = "https://i.imgflip.com/4amyl5.png">
            <h3>code: whereMonkey</h3>
            <h3>fields: 1</h3>
          </div>

    </div>
  </body>
</html>
